[submodule "external/KaMinPar"]
	path = external/KaMinPar
	url = https://github.com/KaHIP/KaMinPar.git
[submodule "external/kamping"]
	path = external/kamping
	url = https://github.com/kamping-site/kamping.git
[submodule "external/KaGen"]
	path = external/KaGen
	url = https://github.com/KarlsruheGraphGeneration/KaGen.git
